.beforeAfterContainer {
    padding: 20px;
}

.cardContainer {
    border: none;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.imageContainer {
    position: relative;
    padding: 0px!important;
    border: none;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin-right: 20px;
}

.imageWrapper {
    position: relative;
    overflow: hidden;
    background-color: var(--main-accent-dark);
}

.imgFluid {
    width: 100%;
    height: auto;
    max-height: 450px;
    transform: scale(0.9); /* Default image zoomed out */
    transition: transform 0.3s ease-in-out;
    border-radius: 10px;
}

.imgFluid:hover {
    transform: scale(1); /* Zoom back to original size on hover */
}

.overlayText {
    position: absolute;
    top: 12%;
    left: 13%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    font-weight: bold;
    /* text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25); */
    color: var(--bg-color);
    pointer-events: none;
    background-color: var(--main-accent-color);
    padding: 8px;
    border-radius: 8px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

/* Mobile responsiveness */
@media (max-width: 768px) {
    .overlayText {
        font-size: 18px;
    }

    .imgFluid {
        height: auto;
    }
    .overlayText {
        position: absolute;
        top: 15%;
        left: 20%;
        transform: translate(-50%, -50%);
        font-size: 24px;
        font-weight: bold;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
        pointer-events: none;
        background-color: var(--bg-color);
        padding: 8px;
        border-radius: 8px;
    }
    .imageContainer{
        margin-right: 0px;
        margin-top: 20px;
    }
}
