.heading{
    font-size: 2rem;
}
@media only screen and (max-width: 767px) {
    .heading{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 10px;
}
.closed{
    text-align: center;
}
}