.headingContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 175px; */
  width: 100%;
  /* margin-top: 60px;
  margin-bottom: 40px; */
  /* padding-top: 60px; */
}
.headingContainerLarge{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 175px; */
  margin-top: 20px;
  margin-bottom: 20px;

}
.bgColor{
  background-color: var(--bg-color);
}
.bgImage {
  position: absolute;
  left: 0;
  width: 100%;
  height: auto;
  object-fit: cover;  /* Retain aspect ratio, may clip image */
  max-height: 100%; /* Prevent overflow */
}
.bgImage2 {
  position: absolute;
  left: 0;
  width: 100%;
  height: auto;
  object-fit: cover;
  padding-left: 20%;
  padding-right: 20%;
}

.overlayText {
  position: relative;
  z-index: 10;
  color: var(--headline-color);
  font-weight: bold;
  text-align: center;
  font-size: 45px; /* Retaining 85px for LCP */
  line-height: 1;
  transition: font-size 0.3s ease; /* Smooth transition if font size changes */
}
.overlayText2 {
  color: var(--headline-color);
  font-weight: 700;
  text-align: center;
  font-size: 45px;
  line-height: 1;
}
.Headline {
  color: var(--headline-color);
  text-align: center;
  font-size: 45px;
  font-weight: 700;
}
/* on service detail using large content headline */
.HeadlineLarge {
  color: var(--headline-color);
  text-align: center;
  font-size: 50px;
  font-weight: 700;
  /* for service detail before after headline  pt and lineheight need to check */
  padding-top: 35px;
  line-height: 1;
}
.text {
  color: var(--content-color);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 130%; /* 177.778% */
  margin-bottom: 30px;
}
.textImage{
  color: var(--content-color);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 177.778%; /* 177.778% */
  margin-bottom: 30px;
  margin-top: 30px;
}
.textImageHide{
  display: none;
}
@media (max-width: 768px) {
  .overlayText {
    font-size: 30px;
    line-height: 0.9;
    margin-top: 10px;
  }
  .overlayText2 {
    font-size: 30px;
    line-height: 1;
  }
  .headingContainer {
    height: auto;
  }
}
@media only screen and (max-width: 767px) {
  .Headline {
    font-size: 25px;
  }
  .HeadlineLarge{
    font-size: 30px;
  }
  .text {
    font-size: 16px;
  }
}
