.description{
    color: var(--content-color);
    margin-bottom: 10px;
}

.icon{
    margin-left: 15px;
    margin-bottom: 10px;
    font-size: 30px;
}
.headline {
    font-size: 60px;
    font-weight: 600;
    color: var(--main-accent-dark);

    /* line-height: 75px; */
    /* text-align: center; */
    text-decoration-skip-ink: none;
    overflow-wrap: break-word; 
    word-wrap: break-word; 
    max-width: 100%; 
    margin-bottom: 15px;
  }