/* Navigation Button Styling */
.navigationButtonNext {
  position: relative;
  z-index: 10;
  color: var(--main-accent-dark);
}
.navigationButtonPrev {
  position: relative;
  z-index: 10;
  color: var(--main-accent-dark);
  margin-right: 30px;
}


.SlideParent {
  margin-right: 2px;
}

.swiperContainer {
  position: relative; 
  overflow: visible;
}

.reviewerParent {
  display: flex;
  justify-content: space-between;
}
.readMore{
    display: flex;
    justify-content: end;
    margin-right: 2px;
}