/* Navigation Button Styling */
.navigationButtonNext {
  position: absolute;
  z-index: 10;
  color: var(--main-accent-dark);
  /* right: 46% !important; */
  right: 0;
  cursor: pointer;
  height: 100%;
  aspect-ratio: 1/1;
}
.navigationButtonPrev {
  position: absolute;
  z-index: 10;
  color: var(--main-accent-dark);
  margin-right: 30px;
  /* left: 46% !important; */
  left: 0;
  cursor: pointer;
  height: 100%;
  aspect-ratio: 1/1;
}
.ReviewNavigation{
  position: relative;
  justify-content: center;
  width: 113px;
  height: 36px;
  margin-left: auto;
  margin-right: auto;
}

.SlideParent {
  margin-right: 2px;
}

.swiperContainer {
  /* position: relative;  */
  /* overflow: visible!important; */
}

.reviewerParent {
  display: flex;
  justify-content: space-between;
}
.readMore{
    display: flex;
    justify-content: end;
    margin-right: 2px;
}
@media (min-width: 375px) and (max-width: 575px) {
  .description {
    font-size: 14px;
    margin: 0;
  }
  .name {
    font-size: 16px;
  }
  .designation,.readMore {
    font-size: 14px;
  }
  .commaSvg {
    width: 12px;
  }
}