.heading {
  margin-top: 138px;
  color: var(--headline-color);
  text-align: center;
  font-size: 70px;
  font-weight: 700;
  line-height: 128.571%; /* 128.571% */
}
.solutionsContainer0{
  background-color: var(--bg-color);

}
.text {
  padding-top: 40px;
  color: var(--content-color);
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 177.778%; /* 177.778% */
}
.inputText {
  border-radius: 6px;
  text-align: center;
  background: #f5f5f5;
  border: 1px solid #878787;
  color: #878787;
  font-size: 20px;
  font-weight: 400;
  line-height: 284%; /* 284% */
  text-transform: capitalize;
}
.button {
  border-radius: 6px;
  height: 60px;
  width: 100%;
  background: #f5f5f5;
  color: var(--content-color);
  font-size: 30px;
  border: none;
}
.buttonActive {
  border-radius: 6px;
  width: 100%;
  height: 60px;
  background: var(--main-accent-dark);
  color: #fff;
  font-size: 30px;
  border: none;
}
.calculationCard {
  background: #f5f5f5;
  border: none;
  border-radius: 6px;
  height: 331px;
}
.perMonth {
  font-size: 40px;
  font-weight: bold;
}
.cardTitle {
  color: var(--headline-color);
  font-weight: bold;
  font-size: 18px;
}
.cardValue {
  padding-top: 16px;
  font-size: 24px;
  color: var(--content-color);
}

.heading2 {
  margin-top: 47px;
  color: var(--headline-color);
  text-align: center;
  font-size: 51px;
  font-style: normal;
  font-weight: 700;
  line-height: 176.471%; /* 176.471% */
}
.card {
  margin-top: 58px;
  border: none;
  border-radius: 30px;
  background: #fff;
  box-shadow: 0px 0px 20px 0px rgba(0, 40, 255, 0.1);
}
.cardHeading {
  margin-top: 49px;
  color: #000;
  text-align: center;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.cardPricing {
  margin-top: 31px;
  color: var(--main-accent-color);
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.change {
  margin-top: 9px;
  color: #878787;
  text-align: center;
  font-size: 17px;
  font-weight: 400;
  line-height: 141.176%;
}
.cardDesc {
  margin-top: 20px;
  color: #000;
  text-align: center;
  font-family: "Josefin Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}
.cardButton {
  padding: 24px 64px;
  border-radius: 31px;
  border: 1px solid var(--main-accent-color);
  background: var(--main-accent-color);
  box-shadow: 0px 0px 20px 0px rgba(0, 40, 255, 0.3);
  transition: 0.3s;
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.cardButton:hover {
  background-color: #ffffff;
  color: var(--main-accent-color);
}
.informationContainer {
  margin-top: 210px;
  background: rgba(95, 184, 188, 0.05);
}
/* ul li {
  list-style-type: none;
} */
.listStyle {
  color: var(--main-accent-color);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 205%; /*  */
  text-decoration: none;
  cursor: pointer;
}
.listStyle:hover {
  color: #001f75;
}
.financeDesc {
  color: #000;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 176.471%; /* 176.471% */
}
.getTouchContainer {
  margin-top: 251px;
}
@media only screen and (max-width: 767px) {
  .calculationCard {
    height: 350px;
  }
  .getTouchContainer {
    margin-top: 125px;
  }
  .heading {
    font-size: 50px;
  }
  .heading2 {
    margin-top: 60px;
  }
  .solutionsHeading {
    font-size: 30px;
    padding-top: 5px;
  }
  .button {
    margin-top: 21px;
    font-size: 16px;
    height: 45px;
    padding: 0px 16px;
  }
  .cardButton {
    margin-top: 21px;
    font-size: 16px;
    height: 45px;
    padding: 0px 16px;
  }
  .listStyle {
    text-align: center;
  }
}
