.MarginTopDefault {
  margin-top: 95px;
}
.redOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 50%);
  z-index: 2;
}

.mediaOverlayContainer {
  position: relative;
  width: 100%;
  height: auto;
  background-color: rgba(154, 145, 145, 0.6);
  z-index: 1;
  background-size: cover;
  background-position: center;
  height: 95vh; /* Prevent dynamic resizing */
}

.media {
  width: 100%;
  /* Adjust video height */
  /* height: 550px;  */
  height: 95vh; /* Set a fixed height to avoid dynamic changes */
  object-fit: fill;
}

.skeletonLoader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.overlayContent {
  position: absolute;
  top: 50%;
  left: 60px;
  transform: translate(0, -50%);
  color: white;
  padding: 20px;
  max-width: 90%;
  word-wrap: break-word;
  z-index: 3;
}

.overlayContent h1,
.overlayContent p {
  text-align: left;
}
.headingTextPrimary {
  font-size: 60px;
  /* line-height: 30px; */
  width: 70%;
  line-height: 1;
  margin-bottom: 60px;
}
.headingTextSecondary {
  font-size: 45px;
}
.customButtonFirst {
  margin-right: 10px;
}
.descriptionContent {
  font-weight: 500;
  margin-left: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
}
@media (max-width: 768px) {
  .MarginTopDefault {
    margin-top: 75px;
  }
  .overlayContent {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .mediaOverlayContainer {
    height: 85vh; /*Prevent dynamic resizing */

  }
  .media {
    height: 85vh;
  }
  .customButtonFirst {
    margin-bottom: 15px;
    margin-top: 25px;
  }
  .headingTextPrimary {
    font-size: 19px;
    width: 90%;
    line-height: 20px;  
    margin-bottom: 20px;
  }
  .descriptionContent {
    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

@media (max-width: 480px) {
  .overlayContent h1 {
    /* font-size: 15px; */
  }

  .overlayContent p {
    font-size: 14px;
  }
}
