.customMargin{
    margin-top: 130px;
  }
  .heading{
    color: #062d92;
    font-family: Josefin Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%;
    margin-bottom: 10px;

  }
  .listing{
    color: #52575d;
    font-family: Josefin Sans;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 152.941%;
    margin-top: 10px;
    text-align: left;
    width: 50%;
  }
  @media only screen and (max-width: 767px) {
    .customMargin{
      margin-top: 90px;
    }
  }