
.headingTextPrimary {
    font-size: 42px;
    width: 80%;
    /* line-height: 0.5; */
    margin-bottom: 20px;
    color: #ffff;
    font-weight: 200;  /* Lighter weight for the regular text */
  }
  
  .bold {
    font-size: 60px;
    width: 70%;
    line-height: 1;
    margin-bottom: 60px;
    color: #ffff;
    font-weight: 700;  /* Increased weight for bold text */
  }
  .headingTextSecondary {
    font-size: 45px;
  }
  .descriptionContent {
    font-weight: 500;
    /* width: 75%; */
    /* margin-left: 20px;
    margin-top: 40px; */
    margin-bottom: 60px;
    color: #ffff;

  }
  .customButtonFirst {
    /* margin-right: 10px; */
    height: 50px;
    width: 200px;
    padding: 0px;
    border-color: #ffff;
    box-shadow: 0px 0px 20px 0px rgba(232, 232, 235, 0.3);
  }
  .customButton{
    height: 50px;
    width: 200px;
    padding: 0px;
    border-color: #ffff;
    box-shadow: 0px 0px 20px 0px rgba(232, 232, 235, 0.3);
    /* for arrow css */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .imageOverlay {
    position: absolute;
    top: -30%; 
    right: -5%; 
    width: 50%;
    z-index: 1;
  }
  
  .imageOverlay img {
    width: 100%;
    height: auto;
  }
  @media (max-width: 768px) {
    .headingTextPrimary {
      font-size: 30px;
      width: 100%;
    }
    .bold {
      font-size: 30px;
    }
  }