:root {
  --font-josefin-sans: 'Josefin Sans', sans-serif;
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #171717; /* Dark mode background */
    --foreground: #ededed; /* Dark mode foreground */
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0; /* Ensure no default margin */
  color: var(--foreground);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--font-josefin-sans) !important; /* Override with !important */
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
