.trustedBackground {
  text-align: center;
  -webkit-text-stroke-width: 1;
  /* -webkit-text-stroke-color: var(--main-accent-color); */
  -webkit-text-stroke: 1px var(--main-accent-color);
  -webkit-text-fill-color: transparent;
  font-family: "Josefin Sans";
  font-size: 170px;
  font-style: normal;
  font-weight: 700;
  line-height: 101.429%; /* 42% */
}
#swip .swiper .swiper-button-prev {
  left: 0px !important;
}
#swip .swiper .swiper-button-next {
  right: 0px !important;
}
.sliderHeading {
  color: var(--headline-color);
  text-align: center;
  font-family: "Josefin Sans";
  font-size: 70px;
  font-style: normal;
  font-weight: 700;
  line-height: 101.429%; /* 101.429% */
  text-transform: capitalize;
}
.button {
  height: 67px;
  background-color: var(--main-accent-color);
  border: 1px solid var(--main-accent-color);
  transition: 0.3s;
  padding: 0px 50px;
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
  border-radius: 49px;
}
.button:hover {
  background-color: #ffffff;
  color: var(--main-accent-color);
}

/* Temporary css  */

.slideC {
  display: flex;
  justify-content: center;
  margin-top: 133px;
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
  width: 162px;
  height: 544px;
  margin: 0 auto;
}
.prevIcon {
  position: absolute;
  left: 185px;
  bottom: 225px;
  height: 24px;
  width: 24px;
  cursor: pointer !important;
}
.nextIcon {
  position: absolute;
  bottom: 225px;
  right: 185px;
  height: 24px;
  width: 24px;
  cursor: pointer !important;
}
.slide {
  width: 362px;
  height: 2px;
  transition: transform 500ms ease 0s, opacity 500ms ease 0s,
    visibility 500ms ease 0s;
  position: absolute;
  top: 0;
  border-radius: 12px;
}

/* 3D reflection effect */
.reflection {
  position: absolute;
  width: 100%;
  height: 60px;
  bottom: -60px;
  border-radius: 12px;
  transition: transform 500ms ease 0s, opacity 500ms ease 0s,
    visibility 500ms ease 0s;
}

.slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sliderContent {
  display: flex;
  flex-direction: column;
  color: white;
  padding: 30px;
  align-items: flex-start;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.sliderContent h2 {
  margin: 16px 0;
}
.sliderContent p {
  margin: 0;
  margin-bottom: 16px;
}

/* normal css  */

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.btns {
  padding-top: 400px;
  text-align: center;
}

.btns .btn {
  cursor: pointer;
}

.btns .btn:last-child {
  margin-left: 40px;
}
.iframe {
  width: 750px;
  /* comment heigth border radius cutted from video top corner issue */
  /* height: 452px; */
  max-width: 750px;
}
.mobileCarousal {
  display: none;
}
.buttonContainer {
  margin-top: 90px;
  text-align: center;
}
/* normal css  */
@media only screen and (max-width: 767px) {
  .buttonContainer {
    margin-top: 20px;
  }
  .button {
    font-size: 16px;
    padding: 0px 24px;
    height: 40px;
  }
  .desktopCarousal {
    display: none;
  }
  .mobileCarousal {
    display: block;
  }
}
@media (max-width: 1202px) {
  .prevIcon {
    left: 40px;
  }
  .nextIcon {
    right: 40px;
  }
}
@media (min-width: 576px) and (max-width: 1403px) {
  .iframe {
    width: 305px;
    height: 263px;
    /* background-color: red; */
  }
  
}
@media (min-width: 576px) and (max-width: 767px) {
  .sliderHeading {
    font-size: 30px;
  }
  .slideC {
    perspective: 600px;
    height: 620px;
  }
  .iframe {
    /* width: 305px; */
    width: 67%;
    height: 263px;
    margin: auto;
    /* background-color: red; */
  }
  .prevIcon {
    left: 0px;
    bottom: 285px;
  }
  .nextIcon {
    right: 0px;
    bottom: 285px;
  }
}

@media (min-width: 475px) and (max-width: 575px) {
  .sliderHeading {
    font-size: 30px;
  }
  .slideC {
    perspective: 500px;
    height: 645px;
  }
  .iframe {
    width: 204px;
    height: 173px;
    margin: auto;
    /* background-color: yellow; */

  }
  .prevIcon {
    left: 45px;
    bottom: 310px;
  }
  .nextIcon {
    right: 45px;
    bottom: 310px;
  }
}
@media (min-width: 320px) and (max-width: 474px) {
  .sliderHeading {
    font-size: 30px;
  }
  .slideC {
    perspective: 260px;
    height: 620px;
  }
  .iframe {
    width: 205px;
    height: 165px;
    /* background-color: pink; */
    display: inline;
  }
  .prevIcon {
    left: 30px;
    bottom: 292px;
  }
  .nextIcon {
    right: 30px;
    bottom: 292px;
  }
  #swip .swiper-button-next,
  .swiper-button-prev {
    height: 20px; /* Adjust the height as needed */
    width: 0px; /* Ensure the width adjusts proportionally */
  }

  .swiper-button-next::after,
  .swiper-button-prev::after {
    width: 0px;
    font-size: 20px; /* Adjust the font size if necessary */
  }
}
