.heading {
  color: var(--headline-color);
  margin-top: 125px;
  text-align: center;
  font-size: 70px;
  font-weight: 700;
  line-height: 128.571%; /* 128.571% */
}
.text {
  color: var(--content-color);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 177.778%; /* 177.778% */
}
.button {
  margin-top: 10px;
  height: 67px;
  background-color: var(--main-accent-dark);
  border: 1px solid var(--main-accent-dark);
  transition: 0.3s;
  padding: 0px 40px;
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
  border-radius: 49px;
}
.button:hover {
  background-color: #ffffff;
  color: var(--main-accent-dark);
}
.factsContainer {
  margin-top: 276px;
}
.factsContainer2 {
  position: absolute;
  top: -20px;
}
.facts {
  color: var(--headline-color);
  text-align: center;
  font-size: 90px;
  font-weight: 700;
  line-height: 101.429%; /* 101.429% */
  text-transform: capitalize;
}
.factsTitle {
  margin-top: 33px;
  color: var(--subheadline-color);
  font-size: 28px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
.factsText {
  margin-top: 35px;
  color: var(--content-color);
  font-size: 20px;
  font-weight: 400;
  line-height: 160%; /* 160% */
}
.headingBackground {
  text-align: center;
  -webkit-text-stroke-width: 1;
  /* -webkit-text-stroke-color: var(--main-accent-color); */
  -webkit-text-stroke: 1px var(--main-accent-color);
  -webkit-text-fill-color: transparent;
  font-family: "Josefin Sans";
  font-size: 170px;
  font-style: normal;
  font-weight: 700;
  line-height: 101.429%; /* 42% */
}
.trustedContainer {
  margin-top: 130px;
}
.iconsContainer {
  margin-top: 185px;
}
.getTouchContainer {
  margin-top: 251px;
}
.imageWhereYouCanReachUs {
  position: relative;
  display: inline-block;
}
.imageReachUs {
  width: 100%;
  height: auto;
  padding-left: 20%;
  padding-right: 20%;
}
.reachUsText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--headline-color);
  text-align: center;
  font-size: 90px;
  font-weight: 700;
}
.aboutUsSlider {
  margin-top: 30px;
}
@media only screen and (max-width: 767px) {
  .reachUsText {
    font-size: 20px;
    font-weight: 700;
  }
  .getTouchContainer {
    margin-top: 125px;
  }
  .iconsContainer {
    margin-top: 40px;
  }
  .factsContainer2 {
    top: -9px;
  }
  .factsContainer {
    margin-top: 80px;
  }
  .trustedContainer {
    margin-top: 90px;
  }
  .heading {
    font-size: 50px;
  }
  .text {
    font-size: 16px;
  }
  .facts {
    font-size: 30px;
  }
  .button {
    margin-top: 21px;
    font-size: 16px;
    height: 45px;
    padding: 0px 16px;
  }
  .aboutIconsContainer {
    margin-top: 81px;
  }
  .aboutIcons {
    display: flex;
    gap: 0px;
    justify-content: center;
  }
  .factsTitle {
    text-align: center;
    font-size: 20px;
  }
  .factsText {
    text-align: center;
    font-size: 16px;
  }
}
