.paddingCustom {
  padding-top: 60px;
  padding-bottom: 40px;
}
.servicesParent{
  padding-top: 60px;
}
.solutionsTitle {
  margin-top: 24px;
  color: var(--subheadline-color);
  text-transform: uppercase;
  font-size: 28px;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 5px;
}
.sectionText {
  color: var(--content-color);
  font-size: 20px;
  font-weight: 400;
  line-height: 160%;
}
.noBullets {
  list-style-type: none; /* Removes default bullet points */
  padding: 0; /* Removes padding */
  margin: 0; /* Removes margin */
}
.sectionDescription {
  color: var(--content-color);
  font-size: 20px;
  font-weight: 400;
  line-height: 160%;
  margin-top: 20px;
}
.solutionIcons {
  margin-top: 20px;
  margin-bottom: 20px;
}
.solutionsContainer0 {
  /* margin-top: 25px; */
  /* margin-bottom: 25px; */
  background-color: var(--bg-color);
}
.noBgColor {
  margin-top: 16px;
}
.solutionsCol {
  cursor: pointer;
}
@media only screen and (max-width: 767px) {
  .solutionsTitle {
    text-align: center;
    font-size: 20px;
  }
  .sectionText {
    text-align: center;
  }
  .sectionDescription {
    text-align: center;
  }
  .solutionsContainer0 {
    /* comment margin-top due to mobile for homepage if anywhere need first check homepage */
    /* margin-top: 30px; */
  }
  .noBgColor {
    margin-top: 30px;
  }
  .solutionIcons {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
  }
  .paddingCustom {
    padding-top: 5px;
    padding-bottom: 15px;
  }
}
@media only screen and (max-width: 375px) {
  .solutionsTitle {
    text-align: center;
  }
  .sectionText {
    text-align: center;
  }
  .sectionDescription {
    text-align: center;
  }
}
