/* HeaderDefault.module.css */
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    /* background-color: var(--main-accent-dark); */
    z-index: 1000;
    padding: 20px 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    height: 40px;
    cursor: pointer;
  }
  
  .nav {
    display: flex;
    gap: 20px;
  }
  
  .navItem {
    font-size: 18px;
    font-weight: 500;
    color: #ffffff;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    text-decoration: none;
    margin-right: 30px;
  }
  
  .navItemActive {
    font-weight: 700;
    color: rgb(200, 197, 197);
    text-decoration: none;
  }
  
  .dropdown {
    position: relative;
  }
  
  .dropdownMenu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--main-accent-dark);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 10px 0;
    min-width: 200px;
    opacity: 1;
    transition: opacity 0.3s ease;
  }
  
  .dropdownLink {
    display: block;
    padding: 12px 20px;
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .bookNowButton {
    height: 50px;
    border: none;
    background-color: #ffffff;
    color: var(--main-accent-dark);
    transition: 0.3s;
    font-size: 20px;
    font-weight: 700;
    border-radius: 49px;
    width: 250px;
    margin-left: 14px;
  }
  
