.logoMob{
  height: 69px!important;
}
.nav {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}
.nav li {
  /* display: flex; */
  /* justify-content: space-between; */
  color: #000 !important;
  list-style-type: none !important;
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600 !important;
}
.navIcon {
  display: none;
}

.listStyle {
  /* margin-right: 69px; */

  color: #fff !important;
  list-style-type: none !important;
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600 !important;
  /* padding: 0px 10px; */
}
.active {
  color: #fff !important;
}
.listStyle:hover {
  /* color: #1f45b1 !important; */
  cursor: pointer;
}

.emergencyAppointment2 {
  color: white !important;
  padding: 10px 15px;
  border-radius: 5px;
  font-weight: bold;
  position: relative;
  animation: pulse 2s infinite;
}

.emergencyAppointment2::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  border: 2px solid #ff4d4d;
  color: #fff;
  border-radius: 5px;
  animation: pulse 1s infinite !important;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 77, 77, 0.7);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(255, 77, 77, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 77, 77, 0);
  }
}
.button {
  height: 67px;
  border: none;
  background-color: #ffffff;
  color: var(--main-accent-dark);
  transition: 0.3s;
  padding: 0px 40px;
  font-size: 20px;
  font-weight: 700;
  border-radius: 49px;
}
.button:hover {
  background-color: var(--main-accent-dark);
  color: #ffffff;
  border: 1px solid #fff;
}

/* About dropdown*/
li.aboutDropdown {
  display: inline-block;
  border-radius: 9px;
}

.aboutDropdownContent {
  display: none;
  border-radius: 9px;
  cursor: pointer;
  position: absolute;
  background-color: #fff;
  /* background-color: #f9f9f9; */
  min-width: 160px;
  z-index: 1;
}

.aboutDropdownContent a {
  color: black;
  padding: 12px 16px;
  border-radius: 9px;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  display: block;
  text-align: left;
}

.aboutDropdownContent a:hover {
  border-radius: 9px;
  background: rgba(31, 69, 177, 0.08);
}

.aboutDropdown:hover .aboutDropdownContent {
  display: block;
}

/* Services dropdown*/
li.servicesDropdown {
  display: inline-block;
  border-radius: 9px;
}

.servicesDropdownContent {
  display: none;
  border-radius: 9px;
  position: absolute;
  cursor: pointer;
  background-color: #fff;
  /* background-color: #f9f9f9; */
  min-width: 160px;
  z-index: 1;
}

.servicesDropdownContent a {
  color: black;
  padding: 12px 16px;
  border-radius: 9px;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  display: block;
  text-align: left;
}

.servicesDropdownContent a:hover {
  border-radius: 9px;
  background: rgba(31, 69, 177, 0.08);
}

.servicesDropdown:hover .servicesDropdownContent {
  display: block;
}

/* Information dropdown*/
li.informationDropdown {
  display: inline-block;
  border-radius: 9px;
}

.informationDropdownContent {
  display: none;
  border-radius: 9px;
  position: absolute;
  cursor: pointer;
  background-color: #fff;
  /* background-color: #f9f9f9; */
  min-width: 160px;
  z-index: 1;
}

.informationDropdownContent a {
  color: black;
  padding: 12px 16px;
  border-radius: 9px;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  display: block;
  text-align: left;
}

.informationDropdownContent a:hover {
  border-radius: 9px;
  background: rgba(31, 69, 177, 0.08);
}

.informationDropdown:hover .informationDropdownContent,
.informationDropdownContent.visible {
  display: block;
}

/* Custom CSS */
.styles.dropdownToggle {
  color: #fff;
  background-color: transparent;
  border: none !important;
  padding: 0.5rem 1rem;
}

.styles.dropdownMenu {
  background-color: transparent;
  border: none !important;
  padding: 0;
  margin-top: 0.5rem;
}
.disabled {
  pointer-events: none;
  color: gray !important;
  text-decoration: none;
}
.locationMob {
  display: none;
}

/* Adjust alignment of dropdowns */
@media (max-width: 991px) {
  .navbar-nav .nav-link {
    margin-right: 0.5rem !important;
  }
}

@media only screen and (max-width: 991px) {
  .locationMob {
    display: flex;
  }
}
@media only screen and (max-width: 767px) {
  .mobilelocationicon{
    height: 26px!important;
  }
  .mobileMenuIcon{
    height:24px!important ;
  }
  .navbarCollapse {
    padding-top: 14px;
    padding-bottom: 16px;
  }
  .navBar {
    display: flex;
    justify-content: space-between;
  }
  .locationDropdown {
    display: none;
  }
  .logo {
    height: 45px;
  }
  .logoMob {
    height: 36px!important;
  }
  .menuItems {
    display: none !important;
  }
  .navIconContainer {
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
  }
  .navIcon {
    display: block;
    height: 32px;
    width: 48px;
  }
}
