.reviewStarparent{
  margin-top: 26px;
  display: flex;
  gap: 20px;
}
.title {
    margin-top: 16px;
    color: #212121;
    font-family: "Josefin Sans";
    font-size: 20px;
    font-weight: 700;
    line-height: 120%;
  }
  
  .desc {
    margin-top: 24px;
    color: #3d3d3d;
    font-family: "Josefin Sans";
    font-size: 20px;
    font-weight: 500;
    line-height: 150%;
  }
  
  .name {
    color: #212121;
    font-family: "Josefin Sans";
    font-size: 20px;
    font-weight: 700;
    line-height: 140%;
    letter-spacing: -0.2px;
  }
  
  
  
  .desktopStar {
    display: flex;
  }
  
  .mobileStar {
    display: none;
  }
  
  @media only screen and (max-width: 767px) {
    .reviewStarparent{
      justify-content: center;
    }
    .desktopStar {
      display: none;
    }
    .mobileStar {
      display: flex;
    }
    .title {
      text-align: center;
    }
    .desc {
      font-size: 16px;
      text-align: center;
    }
  }
  