.bg{
    background-color: var(--main-accent-dark);
}


  .headingTextPrimary {
    font-size: 60px;
    width: 75%;
    line-height: 0.5;
    margin-bottom: 20px;
    color: #ffff;
    font-weight: 200;  /* Lighter weight for the regular text */
  }
  
  .bold {
    font-size: 60px;
    width: 70%;
    line-height: 1;
    margin-bottom: 60px;
    color: #ffff;
    font-weight: 700;  /* Increased weight for bold text */
  }
  .headingTextSecondary {
    font-size: 45px;
  }
  .descriptionContent {
    font-weight: 500;
    margin-left: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
    color: #ffff;

  }
  .customButtonFirst {
    margin-right: 10px;
    height: 50px;
    width: 250px;
    padding: 0px;
    border-color: #ffff;
    box-shadow: 0px 0px 20px 0px rgba(232, 232, 235, 0.3);
  }
  .customButton{
    height: 50px;
    width: 250px;
    padding: 0px;
    border-color: #ffff;
    box-shadow: 0px 0px 20px 0px rgba(232, 232, 235, 0.3);
  }
  @media (max-width: 768px) {

    .headingTextPrimary {
      font-size: 19px;
      width: 90%;
      line-height: 20px;  
      margin-bottom: 0px;
    }
    .customButtonFirst {
        margin-bottom: 15px;
        margin-top: 25px;
      }
      .descriptionContent {
        margin-left: 5px;
        margin-top: 10px;
        margin-bottom: 10px;
      }
      .bold {
        font-size: 30px;
      }
   
  }