.skeleton {
    background-color: #e1e1e1;
    background-image: linear-gradient(90deg, #e1e1e1 0px, #f0f0f0 40px, #e1e1e1 80px);
    background-size: 300%;
    background-position: 100% 0;
    animation: shimmer 1.5s infinite;
    display: block;
    border-radius: 8px;
}

.skeletonTextContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.skeletonLine {
    margin-bottom: 0.75rem;
}

.skeleton-buttons {
    display: flex;
    flex-wrap: nowrap;
    gap: 1rem;
    margin-top: 1.25rem;
    width: fit-content;
}

@keyframes shimmer {
    to {
        background-position: -100% 0;
    }
}